<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HERD_API_BASE_URL</key>
	<string>$(HERD_API_BASE_URL)</string>
	<key>HERD_ASSOCIATED_DOMAIN</key>
	<string>$(HERD_ASSOCIATED_DOMAIN)</string>
	<key>HERD_ARTIFACT_RELEASE_ID</key>
	<string>$(HERD_ARTIFACT_RELEASE_ID)</string>
	<key>HERD_EVALUATOR_KEY_ID</key>
	<string>$(HERD_EVALUATOR_KEY_ID)</string>
	<key>HERD_EVALUATOR_PUBLIC_KEY</key>
	<string>$(HERD_EVALUATOR_PUBLIC_KEY)</string>
	<key>HERD_RELEASE_ID</key>
	<string>$(HERD_RELEASE_ID)</string>
	<key>HERD_EVALUATOR_MEASUREMENT</key>
	<string>$(HERD_EVALUATOR_MEASUREMENT)</string>
	<key>HERD_RELEASE_CONFIGURATION_SHA256</key>
	<string>$(HERD_RELEASE_CONFIGURATION_SHA256)</string>
	<key>HERD_EVALUATOR_RESULT_SIGNING_KEY_ID</key>
	<string>$(HERD_EVALUATOR_RESULT_SIGNING_KEY_ID)</string>
	<key>HERD_EVALUATOR_RESULT_SIGNING_PUBLIC_KEY</key>
	<string>$(HERD_EVALUATOR_RESULT_SIGNING_PUBLIC_KEY)</string>
	<key>HERD_EVALUATOR_POLICY_SIGNING_KEY_ID</key>
	<string>$(HERD_EVALUATOR_POLICY_SIGNING_KEY_ID)</string>
	<key>HERD_EVALUATOR_POLICY_SIGNING_PUBLIC_KEY</key>
	<string>$(HERD_EVALUATOR_POLICY_SIGNING_PUBLIC_KEY)</string>
	<key>HERD_EVALUATOR_TRANSPARENCY_SIGNING_KEY_ID</key>
	<string>$(HERD_EVALUATOR_TRANSPARENCY_SIGNING_KEY_ID)</string>
	<key>HERD_EVALUATOR_TRANSPARENCY_SIGNING_PUBLIC_KEY</key>
	<string>$(HERD_EVALUATOR_TRANSPARENCY_SIGNING_PUBLIC_KEY)</string>
	<key>HERD_ATTESTATION_AUDIENCE</key>
	<string>$(HERD_ATTESTATION_AUDIENCE)</string>
	<key>HERD_ATTESTATION_PROJECT_ID</key>
	<string>$(HERD_ATTESTATION_PROJECT_ID)</string>
	<key>HERD_ATTESTATION_SERVICE_ACCOUNT</key>
	<string>$(HERD_ATTESTATION_SERVICE_ACCOUNT)</string>
	<key>HERD_ATTESTATION_IMAGE_DIGEST</key>
	<string>$(HERD_ATTESTATION_IMAGE_DIGEST)</string>
	<key>HERD_ATTESTATION_IMAGE_DIGESTS</key>
	<string>$(HERD_ATTESTATION_IMAGE_DIGESTS)</string>
	<key>HERD_ATTESTATION_ROOT_CERTIFICATE_BASE64</key>
	<string>$(HERD_ATTESTATION_ROOT_CERTIFICATE_BASE64)</string>
	<key>HERD_ATTESTATION_ROOT_FINGERPRINT</key>
	<string>$(HERD_ATTESTATION_ROOT_FINGERPRINT)</string>
	<key>HERD_ATTESTATION_SWVERSIONS</key>
	<string>$(HERD_ATTESTATION_SWVERSIONS)</string>
	<key>HERD_ATTESTATION_MAX_AGE_SECONDS</key>
	<string>$(HERD_ATTESTATION_MAX_AGE_SECONDS)</string>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
</dict>
</plist>
